html {
  font-family: Helvetica, Arial, sans-serif;

}

body {
  background: #8297b0;
  margin: 5% 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

#aboutMe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: black solid 1px;
  border-top: black solid 1px;
  padding: 10px;
}

#aboutText {
  text-align: right;
  height: 200px;
}

img {
  height: 200px;
}

nav {
  text-align: center;
  padding: 20px;
  border-bottom: black solid 1px;
}

nav a {
  text-decoration: none;
  color: #cfd8e2;
}

nav span {
  padding: 20px;
  line-height: 1.5px;
}

footer {
  border-top: black solid 1px;
  text-align: center;
}
